---
import { Title } from "../../components/Title";
import Layout from "../../layouts/Layout.astro";
import About from "../../sections/About";
---

<Layout>
  <main class="slim">
    <Title showBackButton client:load>
      <span
        style={{
          viewTransitionName: "about-title",
        }}
      >
        Sobre mí
      </span>
    </Title>
    <About client:load />
  </main>
</Layout>
