---
import Layout from "@layouts/Layout.astro";
import About from "@sections/About";
import { Header } from "@sections/Header";
---

<Layout>
  <Header title="Sobre mí" showBackButton client:load />
  <main>
    <About client:load />
  </main>
</Layout>
