---
import Layout from "../../layouts/Layout.astro";
import About from "../../sections/About";
import "../../styles/_blocks.scss";
---

<Layout>
  <main class="slim">
    <About client:load />
  </main>
</Layout>
