---
import { Title } from "@components/structure/Title";
import Layout from "@layouts/Layout.astro";
import About from "@sections/About";
---

<Layout>
  <main>
    <Title showBackButton client:load>
      <span
        style={{
          viewTransitionName: "about-title",
        }}
      >
        Sobre mí
      </span>
    </Title>
    <About client:load />
  </main>
</Layout>
