---
import { Title } from "../../components/Title";
import Layout from "../../layouts/Layout.astro";
import { HaikuCollection } from "../../sections/HaikuCollection";

import "../../styles/_blocks.scss";

export const prerender = false;
const tag = Astro.params.tag ?? "";
---

<Layout>
  <main class="slim">
    <Title client:load showBackButton>
      <span>
        {tag}
      </span>
    </Title>
    <HaikuCollection client:load tag={tag} />
  </main>
</Layout>
