---
import { collections } from "@/store/Haikus";
import "@/styles/_blocks.scss";
import { CollectionsCard } from "@components/CollectionsCard";
import { Title } from "@components/structure/Title";
import Layout from "@layouts/Layout.astro";
import { HaikuShowcase } from "@sections/HaikuShowcase";
import type { GetStaticPaths } from "astro";

export const prerender = true;

export const getStaticPaths = (() => {
  const $collections = collections.get();
  return $collections.map((c) => {
    return {
      params: { tag: String(c) },
    };
  });
}) satisfies GetStaticPaths;

const tag = Astro.params.tag ?? "";

const defaultFilter = "Tag";
const filterFns = {
  Tag: { tags: [tag] },
};
---

<Layout>
  <main>
    <section class="collection">
      <Title client:load showBackButton>
        <span transition:name={`collection-title-${tag}`}>
          {tag}
        </span>
      </Title>
      <HaikuShowcase
        client:load
        filters={[defaultFilter]}
        defaultFilter={defaultFilter}
        filterFns={filterFns}
      />
    </section>
    <CollectionsCard client:load />
  </main>
</Layout>

<style lang="scss">
  @use "@/styles/spaces";
  main {
    display: grid;
    grid-template-rows: 1fr auto;
    gap: spaces.$gap_default;
    .collection {
      overflow: hidden;
      display: flex;
      flex-direction: column;
    }
  }
</style>
