@mixin fade-in($time) {
  animation: fade-in-animation $time forwards;
}

@mixin jump($time) {
  animation: jump-animation $time infinite;
}

@keyframes fade-in-animation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes jump-animation {
  0% {
    transform: translateY(-50px);
  }
  50% {
    transform: translateY(50px);
  }
  100% {
    transform: translateY(-50px);
  }
}
