@use "./media";

.title_font {
  font-size: 2rem;
  @include media.extremely_small {
    font-size: 1.5rem;
  }
}

.haiku_font {
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  @include media.large {
    font-size: 2rem;
  }

  @include media.extremely_small {
    font-size: 1.25rem;
  }
}

.subtitle_font {
  font-size: 1.5rem;
  @include media.extremely_small {
    font-size: 1.25rem;
  }
}

.text_font {
  font-size: 1rem;
}

.caption_font {
  font-size: 1rem;
}
