---
import { Haiku } from "../../components/Haiku";
import { Title } from "../../components/Title";
import Layout from "../../layouts/Layout.astro";
import { getHaiku } from "../../store/Haikus";

import "../../styles/_blocks.scss";

export const prerender = false;

const id =
  Number(
    Astro.url.pathname
      .split("/")
      .filter((v) => Boolean(v))
      .at(-1)
  ) ?? -1;

const haiku = getHaiku(id);
---

<Layout>
  <main class="slim">
    <Title client:load showBackButton>
      <span transition:name={`haiku-id-${id}`}>
        #{id}
      </span>
    </Title>
    <div class="card">
      <Haiku client:only haiku={haiku} size="xl" detailed />
    </div>
  </main>
</Layout>
