---
import { navigate } from "astro:transitions/client";
import { Haiku } from "../../components/Haiku";
import { Title } from "../../components/Title";
import haikus from "../../const/haikus.json";
import Layout from "../../layouts/Layout.astro";
import "../../styles/_blocks.scss";
import type { THaiku } from "../../types";

export function getStaticPaths() {
  return haikus.map(({ id }) => {
    return {
      params: { id },
    };
  });
}

const id =
  Astro.url.pathname
    .split("/")
    .filter((v) => Boolean(v))
    .at(-1) ?? "0";

const haiku: THaiku | undefined = haikus.find(
  (h) => h.id === Number(id) && !h.hide
);
---

<Layout>
  <main class="slim">
    <Title client:load showBackButton>
      #{id}
    </Title>
    <div class="card">
      <Haiku client:load haiku={haiku} size="xl" detailed />
    </div>
  </main>
</Layout>
