---
import Detail from "@/layouts/Detail.astro";
import { haikusStore } from "@store/Haikus";
import "@/styles/_blocks.scss";
import { Title } from "@components/structure/Title";
import DetailedHaiku from "@sections/DetailedHaiku";
import type { GetStaticPaths } from "astro";

export const prerender = true;

export const getStaticPaths = (() => {
  const $haikus = haikusStore.get();
  return $haikus.map((h) => {
    return {
      params: { id: String(h.id) },
    };
  });
}) satisfies GetStaticPaths;

const id = parseInt(Astro.params.id ?? "-1");
---

<Detail>
  <main class="slim">
    <Title client:load showBackButton>
      <span transition:name={`haiku-id-${id}`}>
        Haiku #{id}
      </span>
    </Title>
    <DetailedHaiku client:load id={id} />
  </main>
</Detail>
