---
import { Haiku } from "../../components/Haiku";
import { Title } from "../../components/Title";
import haikus from "../../const/haikus.json";
import HaikuGuard from "../../guards/HaikuGuard";
import Layout from "../../layouts/Layout.astro";
import "../../styles/_blocks.scss";
import type { THaiku } from "../../types";

export function getStaticPaths() {
  return [
    ...haikus
      .filter((h) => h.show)
      .map(({ id }) => {
        return {
          params: { id },
        };
      }),
    {
      params: { id: "random" },
    },
  ];
}

const id =
  Astro.url.pathname
    .split("/")
    .filter((v) => Boolean(v))
    .at(-1) ?? "0";

const visibleHaikus = haikus.filter((h) => h.show);
const haiku: THaiku | undefined = visibleHaikus.find(
  (h) => h.id === Number(id)
);
---

<Layout>
  <main class="slim">
    <HaikuGuard id={id} client:load />
    <Title client:load showBackButton>
      #{haiku?.id}
    </Title>
    <div class="card">
      {haiku && <Haiku client:load haiku={haiku} size="xl" detailed />}
    </div>
  </main>
</Layout>
