---
import { Haiku } from "../../components/Haiku";
import { Title } from "../../components/Title";
import HaikuGuard from "../../guards/HaikuGuard";
import Layout from "../../layouts/Layout.astro";
import { data } from "../../store/Data";

import "../../styles/_blocks.scss";
import { type THaiku } from "../../types";

export const prerender = false;

const haikus = data.get();
const id =
  Astro.url.pathname
    .split("/")
    .filter((v) => Boolean(v))
    .at(-1) ?? "0";

console.log({ id, haikus });

const visibleHaikus: THaiku[] = haikus.filter((h) => h.show);
const haiku: THaiku | undefined = visibleHaikus.find(
  (h) => h.id === Number(id)
);
---

<Layout>
  <main class="slim">
    <HaikuGuard id={id} client:only />
    <Title client:load showBackButton>
      <span transition:name={`haiku-id-${haiku?.id}`}>
        #{haiku?.id}
      </span>
    </Title>
    <div class="card">
      {haiku && <Haiku client:load haiku={haiku} size="xl" detailed />}
    </div>
  </main>
</Layout>
