---
import { haikus } from "@/store/Haikus";
import { Title } from "@components/structure/Title";
import Layout from "@layouts/Layout.astro";
import DetailedHaiku from "@sections/DetailedHaiku";
import type { GetStaticPaths } from "astro";
import "../../styles/_blocks.scss";

export const getStaticPaths = (() => {
  const $haikus = haikus.get();
  return $haikus.map((h) => {
    return {
      params: { id: String(h.id) },
    };
  });
}) satisfies GetStaticPaths;

const id = parseInt(Astro.params.id ?? "-1");
---

<Layout>
  <main class="slim">
    <Title client:load showBackButton>
      <span transition:name={`haiku-id-${id}`}>
        Haiku #{id}
      </span>
    </Title>
    <DetailedHaiku client:load id={id} />
  </main>
</Layout>
