---
import { Haiku } from "../../components/Haiku";
import { Title } from "../../components/Title";
import Layout from "../../layouts/Layout.astro";

import "../../styles/_blocks.scss";

export const prerender = false;

const id =
  Number(
    Astro.url.pathname
      .split("/")
      .filter((v) => Boolean(v))
      .at(-1)
  ) ?? 0;
---

<Layout>
  <main class="slim">
    <Title client:load showBackButton>
      <span transition:name={`haiku-id-${id}`}>
        #{id}
      </span>
    </Title>
    <div class="card">
      <Haiku client:only id={id} size="xl" detailed />
    </div>
  </main>
</Layout>
