---
import { Title } from "../../components/Title";
import Layout from "../../layouts/Layout.astro";
import DetailedHaiku from "../../sections/DetailedHaiku";

import "../../styles/_blocks.scss";

export const prerender = false;

const id = parseInt(
  Astro.url.pathname
    .split("/")
    .filter((v) => Boolean(v))
    .at(-1) ?? "-1"
);
---

<Layout>
  <main class="slim">
    <Title client:load showBackButton>
      <span transition:name={`haiku-id-${id}`}>
        #{id}
      </span>
    </Title>
    <DetailedHaiku client:load id={id} />
  </main>
</Layout>
