---
import { Haiku } from "../../components/Haiku";
import { Spinner } from "../../components/Spinner";
import { Title } from "../../components/Title";
import Layout from "../../layouts/Layout.astro";
import {
  ERequestStatus,
  fallbackHaiku,
  haikus,
  status,
} from "../../store/Haikus";

import "../../styles/_blocks.scss";

export const prerender = false;

const id =
  Number(
    Astro.url.pathname
      .split("/")
      .filter((v) => Boolean(v))
      .at(-1)
  ) ?? -1;
const $status = status.get();
const $haikus = haikus.get();
---

<Layout>
  <main class="slim">
    <Title client:load showBackButton>
      <span transition:name={`haiku-id-${id}`}>
        #{id}
      </span>
    </Title>
    <div class="card">
      {
        $status === ERequestStatus.SUCCESS && (
          <Haiku
            client:load
            haiku={$haikus.find((h) => h.id === id && h.show) ?? fallbackHaiku}
            size="xl"
            detailed
          />
        )
      }
      {$status === ERequestStatus.LOADING && <Spinner />}
    </div>
  </main>
</Layout>
