---
import { Title } from "@/components/structure/Title";
import Layout from "@layouts/Layout.astro";
import { HaikuShowcase } from "@sections/HaikuShowcase";
import { MiniAbout } from "@sections/MiniAbout";

const filters = ["Todos"];
const defaultFilter = filters[0];
const filterFns = {
  Todos: {},
};
---

<Layout>
  <main>
    <div style={{ gridArea: "title" }}>
      <Title client:load>Diario de Haikus</Title>
    </div>
    <HaikuShowcase
      client:load
      filters={filters}
      defaultFilter={defaultFilter}
      filterFns={filterFns}
    />
    <MiniAbout client:load />
  </main>
</Layout>

<style lang="scss">
  @use "@/styles/media";
  @use "@/styles/spaces";

  main {
    display: grid;
    max-width: 100%;
    grid-template-columns:
      1fr minmax(0, 220px) minmax(
        auto,
        calc(600px - calc(spaces.$gap_default * 2))
      )
      spaces.$gap_default
      220px 1fr;
    grid-template-rows: auto 1fr;
    grid-template-areas:
      ". . title . . ."
      ". . haikus .about .";

    @include media.mobile {
      grid-template-columns: minmax(0, 1fr);
      grid-template-rows: auto 1fr spaces.$gap_default auto;
      grid-template-areas:
        "title"
        "haikus"
        "."
        "about";
    }

    @include media.tablet {
      grid-template-columns: 1fr spaces.$gap_default minmax(auto, 220px);
      grid-template-rows: auto 1fr;
      grid-template-areas:
        "title . ."
        "haikus . about";
    }
  }
</style>
