---
import { HaikuList } from "@/sections/HaikuList";
import { Header } from "@/sections/Header";
import Layout from "@layouts/Layout.astro";

const searchParams = Astro.url.searchParams;
const collection = searchParams.get("collection") ?? undefined;
---

<Layout>
  <Header title="Diario de Haikus" showBackButton={!!collection} client:load />
  <main>
    <HaikuList collection={collection} client:only />
  </main>
</Layout>
