---
import Layout from "../layouts/Layout.astro";
import { HaikuShowcase } from "../sections/HaikuShowcase";
import { MiniAbout } from "../sections/MiniAbout";
---

<Layout>
  <main class="slim">
    <HaikuShowcase client:load />
    <!-- <Timeline client:load /> -->
    <MiniAbout client:load />
  </main>
</Layout>
