@use "@/styles/spaces";
@use "@/styles/colors";
@use "@/styles/fonts";

.wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  padding: spaces.$gap_small;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 25%;

  .id {
    @extend .subtitle_font;
    position: absolute;
    left: spaces.$gap_small;
    top: spaces.$gap_small;
  }
}