@use "../../styles/blocks";
@use "../../styles/colors";

.calendar {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  justify-items: center;
  align-items: center;
  aspect-ratio: 2 / 1;
  gap: 0;
  overflow: hidden;

  .day {
    position: relative;
    width: 100%;
    height: 100%;
    border: 1px solid rgba(white, 0.2);
    overflow: hidden;
    background-color: colors.$foreground;

    &>div {
      opacity: 0;
      width: 100%;
      height: 100%;
      background-color: colors.$button;
      color: transparent;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    &:nth-child(8) {
      border-radius: 50% 0 0 0;
    }

    &:nth-child(14) {
      border-radius: 0 50% 0 0;
    }

    &:nth-last-child(7) {
      border-radius: 0 0 0 50%;
    }

    &:last-child {
      border-radius: 0 0 50% 0;
    }

    &.today::after {
      content: "";
      position: absolute;
      right: -1px;
      bottom: -1px;
      width: 100%;
      height: 100%;
      background-image: linear-gradient(135deg, transparent 50%, #FFFFFF99 50%);
      z-index: 5;
    }

    &.selected {
      border: 1px solid colors.$text;
    }
  }
}