@use "@/styles/colors";
@use "@/styles/animations";
@use "@/styles/spaces";

.carousel {
  @include animations.fade-in(0.5s);

  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  gap: spaces.$gap_default;
  flex-wrap: nowrap;

  overflow: auto;

  scroll-snap-type: y mandatory;

  .wrapper {
    padding: 1px 0;
    flex: 0 0 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    scroll-snap-align: center;

    view-timeline-name: --revealing-item;
    view-timeline-axis: block;

    animation: linear fade-in-out-animation both;
    animation-timeline: --revealing-item;
    animation-range: entry 0% cover 100%;
  }
}
