@use "@/styles/spaces";

.navbar {
  display: flex;
  gap: spaces.$gap_small;
  align-items: center;

  h1 {
    margin: 0;
  }

  * {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }
}
