@use "../styles/blocks";

.bento {
  max-width: 100%;
  height: 100%;
  display: grid;
  grid-template-areas:
    "b0 b1"
    "b0 b3"
    "b0 .";
  grid-template-columns: 5fr 1fr;
  grid-template-rows: 1fr 1fr 2fr;
  gap: 1rem;

  @container (width < 800px) {
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr auto;
    grid-template-areas:
      "b0 b0"
      "b1 b3";
  }
}

.box {
  @extend .card;
  overflow: hidden;

  display: flex;
  justify-content: center;
  align-items: center;

  transition: filter 0.2s, scale 0.2s;
}

.b0 {
  grid-area: b0;
}

.b1 {
  grid-area: b1;
}

.b2 {
  grid-area: b2;
}

.b3 {
  grid-area: b3;
}
