@use "../styles/animations" as animations;

.carousel {
  @include animations.fade-in;
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  overflow: auto;
  gap: 2rem;

  scrollbar-color: var(--text-color) transparent;
  scrollbar-width: thin;

  scroll-snap-type: x mandatory;

  & > * {
    padding: 0 1px;
    flex: 0 0 auto;
    width: 100%;
    scroll-snap-align: center;
  }

  &.vertical {
    flex-direction: column;
    scroll-snap-type: y mandatory;

    & > * {
      padding: 1px 0;
      flex: 0 0 auto;
      height: 100%;
      scroll-snap-align: center;
    }
  }
}
