.haiku {
  position: relative;
  width: 100%;
  height: 100%;
  row-gap: 2rem;
  overflow: hidden;
  display: flex;
  flex-direction: column;

  .content {
    width: 100%;
    height: 100%;
    text-align: center;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 0.5ch;
    align-items: center;
    justify-content: center;
    overflow: hidden;
  }

  .id {
    font-size: 75%;
  }

  .detail {
    font-size: 75%;
  }
}
