<button id="btnBack">Back</button>
<script>
  import { navigate } from "astro:transitions/client";
  document.addEventListener("astro:page-load", () => {
    document.querySelector("#btnBack")?.addEventListener("click", () => {
      navigate(`${import.meta.env.BASE_URL}`);
    });
  });
</script>

<style>
  #btnBack {
    font-weight: bold;
    font-size: 1.25rem;
    margin-bottom: 0.5rem;
  }
</style>
