@use "../styles/colors";

.wrapper {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  backdrop-filter: blur(5px);
  display: flex;
  justify-content: center;
  align-items: center;

  --padding: 2rem;

  .modal {
    position: relative;
    width: 90vw;
    max-width: calc(500px * 0.9);
    height: fit-content;
    background-color: rgba(black, 0.95);
    border-radius: var(--padding);
    padding: var(--padding);

    animation: appear .5s forwards;

    .closeBtn {
      position: absolute;
      top: calc(var(--padding) / 2);
      right: calc(var(--padding) / 2);
      width: var(--padding);
      aspect-ratio: 1 / 1;
      background-color: transparent;
      border: 0;
      outline: 0;
      color: colors.$text;
      cursor: pointer;

      img {
        width: 100%;
      }
    }
  }
}

@keyframes appear {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}