.titledBlock {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  text-decoration: inherit;
  color: inherit;
  gap: 1ch;
  &.bottomRighted {
    flex-direction: column-reverse;
  }

  .content {
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
}
