@use "../styles/spaces";

.navbar {
  display: flex;
  gap: 1ch;
  align-items: center;
  margin-bottom: spaces.$gap_default;

  .backbtn {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
