@use "../styles/blocks";
@use "../styles/colors";
@use "../styles/spaces";

.body {
  @extend .card;

  img {
    float: left;
    margin-right: spaces.$gap_default;
    max-width: 50%;
    border-radius: spaces.$border_radius_default;
    box-shadow: spaces.$gap_mini spaces.$gap_mini 0 0 colors.$button;
  }
}