@use "@/styles/blocks";
@use "@/styles/colors";
@use "@/styles/spaces";
@use "@/styles/media";

.body {
  padding: spaces.$gap_default;

  p {
    margin-bottom: 1lh;
    margin-left: auto;
    margin-right: auto;
  }
  .buttonImage {
    @extend .interactive;
    position: relative;
    z-index: 99;
    float: left;
    margin-right: spaces.$gap_default;
    margin-bottom: spaces.$gap_mini;
    width: 200px;
    aspect-ratio: 1 / 1;
    border-radius: spaces.$border_radius_default;
    overflow: hidden;

    img {
      min-width: 100%;
      min-height: 100%;
      object-fit: cover;
      border-radius: inherit;
    }
    @include media.extremely_small {
      width: 100%;
    }
  }
}
