<main>
  <h2 transition:name="title-about">Sobre mi</h2>
  <div>
    <img
      style={{
        float: "left",
        width: "50%",
        margin: "0 1rem 0 0",
        viewTransitionName: "jose-img",
      }}
      src="/haikus/me.webp"
      alt="Fotografía de Jose, el autor de la página"
    />
    <p>
      ¡Hola! Me llamo Jose, y has entrado en mi diario de haikus, ¡bienvenido/a!
    </p>
    <p>
      Para mi los haikus son una manera de plasmar lo que siento. Coger
      sensaciones y sentimientos concretos y convertirlos en algo pequeño y
      sencillo que los contenga y transmita.
    </p>
    <p>
      Además, me sirven de forma de diario. Muchos de los haikus que escribo
      reflejan el momento de mi vida por el que estoy pasando.
    </p>
    <p>
      Es fácil ver que lo que más me inspira es la melancolía, aunque trato de
      escribir también cuando estoy contento.
    </p>
    <p>
      No soy un experto ni tengo unos fuertes refentes, aunque me gusta mucho
      <a href="https://es.wikipedia.org/wiki/Matsuo_Bash%C5%8D" target="_blank"
        >Bashō</a
      > y <a href="https://es.wikipedia.org/wiki/Masaoka_Shiki" target="_blank"
        >Shiki</a
      >.
    </p>
    <p>¡Espero que los disfrutes!</p>
  </div>
</main>

<style>
  p {
    margin-bottom: 2ch;
  }
  main {
    overflow: auto;
  }
  a {
    text-decoration: underline;
    color: cyan;
  }
</style>
