@use "../styles/blocks";
@use "../styles/colors";

.body {
  @extend .card;

  p {
    margin-bottom: 2ch;
  }

  img {
    float: left;
    margin-right: 1rem;
    max-width: 50%;
    border-radius: 2rem;
  }
}
