@use "@/styles/media";
@use "@/styles/spaces";
@use "@/styles/blocks";
@use "@/styles/colors";

.haikuList {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: spaces.$gap_large;

  .haiku {
    width: calc(100% - calc(2 * spaces.$gap_default));
    max-width: 650px;
    flex: 0 0 fit-content;
    padding: spaces.$gap_default;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: spaces.$gap_small;

    .data {
      opacity: 0.6;

      .clickableTitle {
        text-decoration: underline;
        cursor: pointer;
      }
    }
  }

  .infoCollection {
    background-color: colors.$text;
    color: colors.$background;
    width: 100%;
    position: sticky;
    top: 0;
    text-align: center;
    font-weight: bold;
    opacity: 0.9;
    height: 0;
    overflow: hidden;

    &.show {
      height: fit-content;
      padding: spaces.$gap_default;
    }
  }
}
