.title {
  display: flex;
  gap: 1ch;
  color: var(--text-color-disabled);
  button {
    cursor: pointer;
    background-color: transparent;
    color: inherit;
    border: 0;
    font-size: inherit;
    font-family: inherit;
    font-weight: inherit;
    transition: color 0.2s;
  }
  .selectedTitle {
    color: var(--text-color);
  }
}
