@use "@/styles/blocks";
@use "@/styles/colors";
@use "@/styles/animations";
@use "@/styles/spaces";

.wrapper {
  position: relative;
  grid-area: haikus;
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;

  .title {
    display: flex;
    gap: 1ch;
    color: colors.$disabled;
    transition: color 0.2s;

    .selectedTitle {
      color: colors.$text;
    }
  }

  .carouselWrapper {
    @extend .interactive;
    @extend .card;
    width: 100%;
    height: 100%;
    overflow: hidden;

    display: flex;
    flex-direction: column;

    .description {
      @include animations.fade-in(0.5s);
      border-top: 1px solid white;
      padding-top: 1ch;
    }
  }

  .btnPrev {
    position: absolute;
    bottom: spaces.$gap_default;
    left: spaces.$gap_default;
    transition: opacity 0.2s;
    rotate: -90deg;
  }
  .btnNext {
    position: absolute;
    bottom: spaces.$gap_default;
    right: spaces.$gap_default;
    transition: opacity 0.2s;
    rotate: 90deg;
  }
}
