@use "@/styles/blocks";
@use "@/styles/spaces";
@use "@/styles/media";

.miniAbout {
  width: 100%;
  height: fit-content;

  grid-area: about;

  display: grid;
  gap: spaces.$gap_default;

  overflow: hidden;

  @include media.mobile {
    height: 100%;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: auto auto;
  }

  @include media.larger_than_mobile {
    margin-top: auto;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
  }

  .profilePicWrapper {
    @extend .card;
    @extend .interactive;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f1e3c5;
    padding: 10%;

    img {
      object-fit: contain;
      height: 100%;
      width: 100%;
      border-radius: inherit;
    }

    @include media.mobile {
      max-height: 170px;
    }
  }

  .profileTextWrapper {
    p {
      height: 100%;
      overflow: auto;
    }

    @include media.mobile {
      max-height: 170px;
    }
  }

  .collectionsWrapper {
    @include media.mobile {
      grid-column: 1 / 3;
    }
  }
}