@use "../styles/blocks";
@use "../styles/spaces";

.miniAbout {
  display: flex;
  gap: spaces.$gap_default;

  .profilePicWrapper {
    @extend .cardNoPadding;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      object-fit: cover;
      min-width: 100%;
      min-height: 100%;
      border-radius: inherit;
    }
  }

  .profileTextWrapper {
    @extend .card;
    flex: 2;
  }
}
