@use "@/styles/blocks";
@use "@/styles/spaces";
@use "@/styles/fonts";

.wrapper {
  @extend .card;

  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: spaces.$gap_default;

  .title {
    @extend .title_font;
  }
}
