@use "../styles/blocks";

.timeline {
  @extend .card;
  --size: 12px;
  --gap: calc(var(--size) / 4);
  flex: 0 0 calc(calc(calc(var(--size) * 7) + calc(var(--gap) * 6)) + 2rem);
  overflow: hidden;
  .scroller {
    display: flex;
    overflow: hidden;
    gap: var(--gap);
    justify-content: flex-end;

    .week {
      display: inline-flex;
      flex-direction: column;
      flex-shrink: 0;
      gap: var(--gap);
      .day {
        flex-shrink: 0;
        width: var(--size);
        height: var(--size);
        border-radius: var(--gap);

        &.selected {
          outline: 1px solid red;
        }
      }
    }
  }
}
