---
import "@fontsource-variable/domine";
import "@fontsource-variable/open-sans";
import { ClientRouter } from "astro:transitions";
import { Modal } from "../components/Modal";
import "../styles/global.scss";
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <title>Haikus</title>
    <meta name="viewport" content="width=device-width" />
    <link
      rel="icon"
      type="image/svg+xml"
      href=`${import.meta.env.BASE_URL}favicon.webp`
    />
    <meta name="description" content="Diario de Haikus de Jose" />

    <!-- Facebook Meta Tags -->
    <meta property="og:title" content="Haikus" />
    <meta property="og:url" content="https://akinojose.netlify.app/" />
    <meta property="og:type" content="website" />
    <meta property="og:locale" content="es_ES" />
    <meta property="og:description" content="Diario de Haikus de Jose" />
    <meta
      property="og:image"
      content="https://akinojose.netlify.app/share_img.jpg"
    />

    <!-- Twitter Meta Tags -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content="Haikus" />
    <meta name="twitter:description" content="Diario de Haikus de Jose" />

    <ClientRouter />
  </head>
  <body>
    <slot />
    <Modal client:only />
  </body>
</html>
