---
import "@fontsource-variable/domine";
import "@fontsource-variable/open-sans";
import { ClientRouter } from "astro:transitions";
import { Modal } from "../components/Modal";
import "../styles/global.scss";
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <title>Jose de Otoño</title>
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href=`/favicon.webp` />
    <meta name="description" content="Diario de Haikus de Jose" />

    <!-- Facebook Meta Tags -->
    <meta property="og:title" content="Jose de Otoño" />
    <meta property="og:url" content="https://akinojose.netlify.app/" />
    <meta property="og:type" content="website" />
    <meta property="og:locale" content="es_ES" />
    <meta property="og:description" content="Diario de Haikus de Jose" />
    <meta
      property="og:image"
      content="https://akinojose.netlify.app/share_img.jpg"
    />

    <!-- Twitter Meta Tags -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content="Jose de Otoño" />
    <meta name="twitter:description" content="Diario de Haikus de Jose" />

    <!-- Preload Images -->
    <link rel="preload" href="/back.svg" as="image" />
    <link rel="preload" href="/close.svg" as="image" />
    <link rel="preload" href="/info.svg" as="image" />
    <link rel="preload" href="/share.svg" as="image" />
    <link rel="preload" href="/me.webp" as="image" />

    <ClientRouter />
  </head>
  <body>
    <slot />
    <Modal client:only />
  </body>
</html>
